.header
{
    grid-area: h;
    background-color: #0f0f39;
}
.header img
{
    width:100px;
    margin-left: 50px;
    margin-right: 450px;
}
.loginblock
{
    float:right;
    color:red;
}
.loginblock a
{
    color:red;
}

